[submodule "themes/bootstrap"]
	path = themes/bootstrap
	url = git@github.com:razonyang/hugo-theme-bootstrap.git
[submodule "themes/vibrantshadows"]
	path = themes/vibrantshadows
	url = git@github.com:Softorage/HugoTheme-VibrantShadows.git
